* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-visual {
  background-image: url(img/mv.jpg);
  background-size: cover;
  background-position: bottom;
  height: 400px;
  width: 100%;
}

.main-visual-heading {
  padding: 20px;
}

main {
  width: 840px;
  margin: 0px auto;
  padding: 20px 0 50px 0;
}

.content {
  padding: 30px 0;
  border-bottom: 1px solid #d1d1d1;
}